@charset "utf-8";

/*CSS RESET*/
html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;}
:focus {outline: 0;}
ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {font-weight: normal;text-align: left;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
*{padding:0;margin:0;border:none;background:none;line-height:1;}
.clear{clear:both;height:0;width:0;}


body{font-family:Arial, Helvetica, sans-serif;font-size:12px;background-color:#F3F3F3}



#container{width:941px;margin:0 auto;padding:0 12px;background:url(../images/bg_content.gif) repeat-y;}

#container #header{width:966px;min-height:150px;margin:0 0 29px -12px;padding-top:14px;background:url(../images/bg_content_top.gif) top no-repeat;}

/*Menu de Serviços*/
#header .staticHeader ul{float:left;width:490px;height:25px;}
#header .staticHeader ul li{float:left;padding:0 10px;height:11px;}
#header .staticHeader ul li + li{border-left: dotted 1px #3e3c3e;}
#header .staticHeader ul li a{font-size:10px;	color:#3e3c3e;text-decoration:none;line-height:11px;}
#header .staticHeader ul li.quemSomos{border:none;}

/*form de Busca*/
#header .staticHeader .busca{float:right;margin-right:18px;width:350px;}
#header .staticHeader .busca label .inputText{width:151px;}
#header .staticHeader .busca label{float:left;padding-top:3px;}
#header .staticHeader .busca .botoes{margin-left:3px;}
#header .staticHeader .busca .globalSites{display:block;float:right;width:148px;height:21px;margin-left:10px;background:url(../images/global_sites.gif) no-repeat}

#container #header h1{float:left;width:217px;margin:27px 0 8px 27px;clear:both;}
#container #header h1 a{display:block;height:57px;text-indent:-99999px;background:url(../images/logotipo.gif) no-repeat;}

/*form de Login*/
#container #header .login{float:right;width:290px;margin:31px 32px 0 0;}
#container #header .login label{float:left;margin-right:3px;}
#container #header .login label .inputText, #container #header .login label .inputPass{width:119px;}
#container #header .login .botoes{display:block;float:right;margin:0;}
#container #header .login .certificado{display:block;clear:both;float:none;color:#7F8794;height:19px;line-height:18px;padding-right:25px;text-align:right;background:url(../images/ico_cadeado.gif) no-repeat right }

/*Inputs de Login e Busca*/
#header .staticHeader .busca label .inputText,
#container #header .login label .inputText, #container #header .login label .inputPass{color:#9c9a99;font-size:11px;line-height:15px;padding:0 3px;}


/*Menu principal*/
#container #header #mainMenu{clear:both;width:942px;height:33px;margin:0 auto;background:url(../images/bg_mainmenu.gif);}
#container #header #mainMenu li{float:left;}
#container #header #mainMenu > li > a{display:block;height:33px;text-indent:-99999px;}
#container #header #mainMenu > li + li a{margin-right:23px;}

#container #header #mainMenu .servicosAoConsumidor a{width:206px;margin:0 49px 0 29px;background: url(../images/link_servicos_consumidor.gif) no-repeat;}
#container #header #mainMenu .meproteja > a{width:83px;background: url(../images/link_meproteja.gif) no-repeat center;margin-right:13px;}
#container #header #mainMenu .meproteja:hover > a{background: url(../images/link_meproteja_hover.gif) no-repeat center;}
#container #header #mainMenu .meproteja ul{position:absolute;height:11px;display:none;padding-top:10px;margin-left:-88px;}
#container #header #mainMenu .meproteja:hover ul{display:block;}

#container #header #mainMenu .meproteja ul li{margin:0 11px 0 0;}
#container #header #mainMenu .meproteja ul li + li{border-left:dotted 1px #333333;padding-left:11px;}
#container #header #mainMenu .meproteja ul li a{color:#666;text-decoration:none;margin:0;}

#container #header #mainMenu .regularizarPendencias a{width:136px;background: url(../images/link_regularizar_pendencias.gif) no-repeat;}
#container #header #mainMenu .servicosGratuitos a{width:108px;background: url(../images/link_servicos_gratuitos.gif) no-repeat;}
#container #header #mainMenu .cadastroPositivo a{width:103px;background: url(../images/link_cadastro_positivo.gif) no-repeat;}
#container #header #mainMenu .educacaoFinanceira a{width:121px;background: url(../images/link_educacao_financeira.gif) no-repeat;}


/*BANNER*/
#container .banner{position:relative;height:211px;}
#container .banner .conheca{position:absolute;z-index:2;display:block;width:160px;height:30px;background:url(../images/bt_conheca.png);text-indent:-99999px;top:130px;left:30px;}
#container .banner .home{display:none;position:absolute;z-index:2;width:84px;height:20px;background:url(../images/bt_home.png);text-indent:-99999px;top:130px;left:30px;}
#container .banner img{position:absolute;z-index:1;}



/*Box com informações, caracteristics, abas*/
#container .informacoesCaracteristicas{float:left;min-height:229px;background-color:#003166;}

/*Caracteristicas*/
#container .informacoesCaracteristicas .caracteristicas li h3,
#container .informacoesCaracteristicas .caracteristicas li p{display:none;}
#container .informacoesCaracteristicas .caracteristicas li{float:left;height:229px;}
#container .informacoesCaracteristicas .caracteristicas .agilidade{width:314px;background:url(../images/ico_agilidade.gif)}
#container .informacoesCaracteristicas .caracteristicas .comodidade{width:293px;background:url(../images/ico_comodidade.gif)}
#container .informacoesCaracteristicas .caracteristicas .comodidade .vejaExemplo{display:block;width:89px;height:22px;margin:185px 0 0 35px;text-indent:-99999px;background:url(../images/bt_veja_exemplo.png)}
#container .informacoesCaracteristicas .caracteristicas .seguranca{width:334px;background:url(../images/ico_seguranca.gif)}



/*Abas*/
#container .informacoesCaracteristicas .tabs{display:none;}
#container .informacoesCaracteristicas .tabs > li{float:left;padding:17px 20px 0 20px;background:url(../images/bg_tabs.gif) repeat-x;}
#container .informacoesCaracteristicas .tabs > li + li {border-left:solid 1px #003166;}
#container .informacoesCaracteristicas .tabs > li h3{font-size:16px;color:#fff;font-weight:bold;height:94px;cursor:pointer;}
#container .informacoesCaracteristicas .tabs > li .content{display:none;}
#container .informacoesCaracteristicas .tabs > li.selected {background:#003166;}
#container .informacoesCaracteristicas .tabs > li.selected h3{color:#d9d931;}

#container .informacoesCaracteristicas .tabs .oquee,
#container .informacoesCaracteristicas .tabs .comoTrabalhar,
#container .informacoesCaracteristicas .tabs .quaisBeneficios,
#container .informacoesCaracteristicas .tabs .comoRelatorioAjuda,
#container .informacoesCaracteristicas .tabs .comoUtilizar{width:116px;}
#container .informacoesCaracteristicas .tabs .faq{width:115px;}




/*Oque é*/
#container .informacoesCaracteristicas .tabs > li.oquee .content{display:block;margin-top:38px;width:941px;margin-left:-20px;height:345px;font-weight:bold;color:#fff;font-size:14px;}

#container .informacoesCaracteristicas .tabs > li.oquee .content .avisoAlteracaoEmail,
#container .informacoesCaracteristicas .tabs > li.oquee .content .relatorioEmail{width:410px;float:left;margin-left:42px;}

#container .informacoesCaracteristicas .tabs > li.oquee .content .avisoAlteracaoEmail p,
#container .informacoesCaracteristicas .tabs > li.oquee .content .relatorioEmail p{min-height:56px;}

#container .informacoesCaracteristicas .tabs > li.oquee .content .avisoAlteracaoEmail a,
#container .informacoesCaracteristicas .tabs > li.oquee .content .relatorioEmail a{color:#3388ff;text-decoration:none;}

#container .informacoesCaracteristicas .tabs > li.oquee .content .avisoAlteracaoEmail h5,
#container .informacoesCaracteristicas .tabs > li.oquee .content .relatorioEmail h5{width:273px;height:94px;padding:23px 33px 0 99px;background:url(../images/bg_aviso_alteracao_email.gif);color:#d9d931;font-size:24px;margin:23px 0;}
#container .informacoesCaracteristicas .tabs > li.oquee .content .avisoAlteracaoEmail h5 a,
#container .informacoesCaracteristicas .tabs > li.oquee .content .relatorioEmail h5 a{display:block;font-size:12px;margin-top:10px;}
#container .informacoesCaracteristicas .tabs > li.oquee .content .relatorioEmail h5{background:url(../images/bg_relatorio_email.gif);}

#container .informacoesCaracteristicas .tabs > li.oquee .content .avisoAlteracaoEmail ul li,
#container .informacoesCaracteristicas .tabs > li.oquee .content .relatorioEmail ul li{font-size:12px;padding-bottom:8px;}
#container .informacoesCaracteristicas .tabs > li.oquee .content .relatorioEmail ul li.title{font-size:14px;}

#container .informacoesCaracteristicas .tabs > li.oquee .content .avisoAlteracaoEmail ul li + li,
#container .informacoesCaracteristicas .tabs > li.oquee .content .relatorioEmail ul li + li{border-top:dotted 1px #3060a5;padding-top:8px;}


#container .informacoesCaracteristicas .tabs > li.oquee .content > ul > li{float:left;width:149px;padding:0 10px 0 20px;font-weight:bold;font-size:14px;color:#fff;padding-top:11px;height:220px;}
#container .informacoesCaracteristicas .tabs > li.oquee .content > ul > li + li{border-left:dotted 1px #3060a5;}
#container .informacoesCaracteristicas .tabs > li.oquee .content > ul > li span{display:block;margin-bottom:13px;color:#d9d931;font-size:24px;}
#container .informacoesCaracteristicas .tabs > li.oquee .content > ul > li a{color:#257eff;text-decoration:none;}
#container .informacoesCaracteristicas .tabs > li.oquee .content > ul > li a:hover{text-decoration:underline;}
#container .informacoesCaracteristicas .tabs > li.oquee .content > ul > li ul li{border:none;padding-left:0;font-size:11px;}

/*Como o Relatório te Ajuda*/
#container .informacoesCaracteristicas .tabs > li.comoRelatorioAjuda .content{margin-top:38px;padding-left:20px;width:941px;height:440px;margin-left:-177px;}
#container .informacoesCaracteristicas .tabs > li.comoRelatorioAjuda .content ul{width:259px;min-height:440px;float:left;padding:0 20px;margin-bottom:18px;font-weight:bold;color:#fff;}
#container .informacoesCaracteristicas .tabs > li.comoRelatorioAjuda .content ul li{margin-bottom:24px;line-height:16px;}
#container .informacoesCaracteristicas .tabs > li.comoRelatorioAjuda .content ul li.title{color:#d9d931;font-size:18px;margin-bottom:27px;}
#container .informacoesCaracteristicas .tabs > li.comoRelatorioAjuda .content ul + ul{border-left:dotted 1px #3060a5;}



/*Como Trabalhar*/
#container .informacoesCaracteristicas .tabs > li.comoTrabalhar .content{margin-top:38px;width:941px;margin-left:-334px;font-weight:bold;padding-bottom:37px;}
#container .informacoesCaracteristicas .tabs > li.comoTrabalhar .content h5{color:#d9d931;font-size:24px;margin-bottom:17px;line-height:26px;}
#container .informacoesCaracteristicas .tabs > li.comoTrabalhar .content > ul{min-height:200px;margin-bottom:20px;}
#container .informacoesCaracteristicas .tabs > li.comoTrabalhar .content > ul > li {width:350px;float:left;}
#container .informacoesCaracteristicas .tabs > li.comoTrabalhar .content > ul > li > img{float:left;margin-right:20px;}

#container .informacoesCaracteristicas .tabs > li.comoTrabalhar .content > ul > .informacoes{width:376px;margin:0 115px 0 50px;}
#container .informacoesCaracteristicas .tabs > li.comoTrabalhar .content > ul > .informacoes ul{clear:both;color:#d9d931;}
#container .informacoesCaracteristicas .tabs > li.comoTrabalhar .content > ul > .informacoes ul li{padding-top:8px;padding-bottom:8px;background:url(../images/marcador3.gif) no-repeat center;}
#container .informacoesCaracteristicas .tabs > li.comoTrabalhar .content > ul > .informacoes ul li + li{border-top:solid 1px #001739;}

#container .informacoesCaracteristicas .tabs > li.comoTrabalhar .content > ul > .informacoes ul .title{font-size:14px;color:#fff;padding-bottom:12px;padding-top:20px;background:none;}
#container .informacoesCaracteristicas .tabs > li.comoTrabalhar .content > ul > .informacoes ul li p{float:left;width:140px;}
#container .informacoesCaracteristicas .tabs > li.comoTrabalhar .content > ul > .informacoes ul li p + p{margin-left:88px;}

#container .informacoesCaracteristicas .tabs > li.comoTrabalhar .content ul  .avisa{margin-top:78px;}



/*Como utilizar o MeProteja*/
#container .informacoesCaracteristicas .tabs > li.comoUtilizar .content{margin-top:38px;width:941px;margin-left:-491px;font-weight:bold;padding-bottom:25px;}
#container .informacoesCaracteristicas .tabs > li.comoUtilizar .content h5{color:#d9d931;font-size:18px;margin-bottom:17px;line-height:20px;}
#container .informacoesCaracteristicas .tabs > li.comoUtilizar .content > ul{margin-bottom:20px;}
#container .informacoesCaracteristicas .tabs > li.comoUtilizar .content > ul > li {float:left;width:276px;padding:0 15px 0 21px;min-height:330px;}
#container .informacoesCaracteristicas .tabs > li.comoUtilizar .content > ul > li  + li{border-left:dotted 1px #3060a5;}
#container .informacoesCaracteristicas .tabs > li.comoUtilizar .content > ul > li img{margin-bottom:15px;}
#container .informacoesCaracteristicas .tabs > li.comoUtilizar .content > ul > li p{margin-bottom:25px;color:#fff;font-size:14px;line-height:17px;}
#container .informacoesCaracteristicas .tabs > li.comoUtilizar .content > ul > li a{color:#3388ff;text-decoration:none;}
#container .informacoesCaracteristicas .tabs > li.comoUtilizar .content > ul > li a:hover{text-decoration:underline;}

/*Quais os Benefícios*/
#container .informacoesCaracteristicas .tabs > li.quaisBeneficios .content{margin-top:38px;padding-left:10px;width:931px;margin-left:-648px;font-weight:bold;}
#container .informacoesCaracteristicas .tabs > li.quaisBeneficios .content h5{color:#d9d931;font-size:18px;margin-bottom:17px;line-height:20px;}
#container .informacoesCaracteristicas .tabs > li.quaisBeneficios .content p{color:#fff;font-size:14px;line-height:19px;}
#container .informacoesCaracteristicas .tabs > li.quaisBeneficios .content > ul{min-height:220px;margin-bottom:20px;}
#container .informacoesCaracteristicas .tabs > li.quaisBeneficios .content > ul > li {float:left;width:130px;min-height:220px;padding:0 10px 0 89px;}
#container .informacoesCaracteristicas .tabs > li.quaisBeneficios .content > ul > li  + li{border-left:dotted 1px #3060a5;}
#container .informacoesCaracteristicas .tabs > li.quaisBeneficios .content ul .comodidade{background:url(../images/ico_casa.gif) no-repeat 10px 0;}
#container .informacoesCaracteristicas .tabs > li.quaisBeneficios .content ul .tranquilidade{background:url(../images/ico_smile.gif) no-repeat 13px 0;}
#container .informacoesCaracteristicas .tabs > li.quaisBeneficios .content ul .seguranca{background:url(../images/ico_cadeado2.gif) no-repeat 13px 0;}
#container .informacoesCaracteristicas .tabs > li.quaisBeneficios .content ul .orientacao{background:url(../images/ico_seta_up.gif) no-repeat 13px 0;}

/*Perguntas Frequentes*/
#container .informacoesCaracteristicas .tabs > li.faq  .content{margin-top:38px;padding-left:10px;width:931px;margin-left:-805px;font-weight:bold;}
#container .informacoesCaracteristicas .tabs > li.faq .content .nav{float:left;margin-left:35px;}
#container .informacoesCaracteristicas .tabs > li.faq .content .nav li{font-size:11px;color:#fff;margin-bottom:20px;}
#container .informacoesCaracteristicas .tabs > li.faq .content .nav li + li{margin-bottom:7px;}
#container .informacoesCaracteristicas .tabs > li.faq .content .nav li a{font-size:18px;color:#277fff;text-decoration:none;}
#container .informacoesCaracteristicas .tabs > li.faq .content .nav li a:hover{text-decoration:underline;}
#container .informacoesCaracteristicas .tabs > li.faq .content .nav li.selected a{color:#fff;}
#container .informacoesCaracteristicas .tabs > li.faq .content .view{float:left;margin:0 0 20px 35px;padding:15px 0 45px 30px;border-left:dotted 1px #3060a5;}
#container .informacoesCaracteristicas .tabs > li.faq .content .view h6{color:#d9d931;font-size:24px;margin-bottom:23px;}
#container .informacoesCaracteristicas .tabs > li.faq .content .view p{color:#fff;font-size:12px;line-height:17px;margin-bottom:22px;}
#container .informacoesCaracteristicas .tabs > li.faq .content .view p strong{color:#d9d931;}



/*chamada com link para contratar*/
#container .chamadaContrate{clear:both;width:940px;height:75px;background:url(../images/bg_chamada_contrate.gif)}
#container .chamadaContrate p{display:none;}
#container .chamadaContrate .contrate{display:block;float:right;width:162px;height:31px;margin:20px 124px 0 0;text-indent:-99999px;background:url(../images/bt_contrate.png);}
 


#container #content{padding:50px 0 30px 30px;}
#container #content .content{float:left;}
#container #content .content  h2{font-size:24px;color:#0046a2;font-weight:bold;margin-bottom:45px;}
#container #content .content h2 a{display:block;margin-top:5px;text-decoration:none;font-size:12px;color:#277fff;font-weight:bold;}


/*Exemplo de relatorio*/
#container #content .content .exemploRelatorio{position:relative;width:652px;height:320px;overflow:hidden;margin-left:-10px;}
#container #content .content .exemploRelatorio .sombra{width:100%;position:absolute;bottom:0;	height:18px;background:url(../images/sombra_relatorio.png);z-index:2;}
#container #content .content .exemploRelatorio img{display:block;width:635px;margin:0 auto;}


/*Menu de navegação, fica a direita do conteudo*/
#container #content .nav{float:left;width:225px;height:450px;margin-left:12px;padding-left:20px;border-left:dotted 1px #666;}
#container #content .nav > li{border-bottom:dotted #666 1px;margin-bottom:18px;padding-bottom:27px;}
#container #content .nav > li span{display:block;margin-bottom:10px;color:#0046a2;font-weight:bold;font-size:14px;}
#container #content .nav li ul li{margin-bottom:10px;}
#container #content .nav li ul{list-style-image:url(../images/marcador2.gif);margin-left:15px;}
#container #content .nav li + li ul{list-style-image:url(../images/marcador1.gif);margin-left:15px;}
#container #content .nav li ul li,
#container #content .nav li ul li a{color:#333;font-size:14px;text-decoration:none;}
#container #content .nav li ul li a:hover{text-decoration:underline;}

#container #content .nav .centralRelacionamento{border-bottom:none;}
#container #content .nav .centralRelacionamento ul{list-style-image:none;margin-left:0;}



/*Footer*/
#container #footer{width:965px;padding-top:18px;margin-left:-12px;background:url(../images/bt_footer.gif) no-repeat #F3F3F3;}
#container #footer .servicosConsumidor{float:left;font-size:11px;margin-left:32px;}
#container #footer .direitos{float:right;font-size:11px;margin-right:32px;}

/*sitemap*/
#container #footer .sitemap{clear:both;float:left;width:100%;height:12px;margin:35px 0 25px 15px;}
#container #footer .sitemap li{float:left;margin-right:10px;height:12px;}
#container #footer .sitemap li + li{border-left:dotted 1px #333;padding-left:10px;}
#container #footer .sitemap li a{font-size:11px;color:#000;text-decoration:none;}
#container #footer .sitemap li a:hover{text-decoration:underline;}



/*Formularios Gerais*/
form fieldset input.inputText,
form fieldset input.inputPass{border:inset 1px #828282;background-color:#fff;height:15px;}
/*Botões*/
form fieldset .btOK{width:28px;height:16px;background:url(../images/bt_ok.gif) no-repeat;cursor:pointer;}




/*Home Serviços ao Consumidor*/
#servicosConsumidor #content{padding-top:20px;}
#servicosConsumidor #content hr.divisor{width:883px;clear:both;height:5px;border-bottom:solid 5px #ebebeb;}
#servicosConsumidor #content .content > h2{color:#ab6f2c;font-size:18px;font-weight:normal;margin-bottom:11px;}

#servicosConsumidor #content .content .coluneA{float:left;width:287px;height:341px;margin:20px 0 22px 0;padding:21px;background:url(../images/bg_box1.gif);}
#servicosConsumidor #content .content .coluneA h3,
#servicosConsumidor #content .content .coluneB h3,
#servicosConsumidor #content .content .coluneC h3{color:#0046a2;font-size:24px;font-weight:bold;margin-bottom:17px;}
#servicosConsumidor #content .content .coluneA h3 span{display:block;margin-top:10px;font-weight:normal;font-size:12px;}
#servicosConsumidor #content .content .coluneA h3 span,
#servicosConsumidor #content .content .coluneA a,
#servicosConsumidor #content .content .coluneB a,
#servicosConsumidor #content .content .coluneC a{color:#1b1b1b;text-decoration:none;}
#servicosConsumidor #content .content .coluneA a:hover,
#servicosConsumidor #content .content .coluneB a:hover,
#servicosConsumidor #content .content .coluneC a:hover{text-decoration:underline;}
#servicosConsumidor #content .content .coluneA ul{list-style-image:url(../images/marcador2.gif);margin-left:15px;}
#servicosConsumidor #content .content .coluneA ul li{border-bottom:dotted 1px #b1b1b1;line-height:22px;}
#servicosConsumidor #content .content .coluneA .servicosUteis{margin-top:56px;}

#servicosConsumidor #content .content .coluneB{float:left;width:515px;margin:20px 0 22px 36px;}
#servicosConsumidor #content .content .coluneB > div{height:164px;}
#servicosConsumidor #content .content .coluneB > div img{float:left;margin-right:16px;}
#servicosConsumidor #content .content .coluneB > div div{float:left;width:335px;}
#servicosConsumidor #content .content .coluneB h3{padding-bottom:10px;margin-top:10px;border-bottom:dotted 1px #b1b1b1;}
#servicosConsumidor #content .content .coluneB ul li{line-height:19px;font-size:11px;}
#servicosConsumidor #content .content .coluneB .meProteja{margin-bottom:26px;}
#servicosConsumidor #content .content .coluneB a,
#servicosConsumidor #content .content .coluneC a{display:block;padding-left:17px;margin-top:15px;background:url(../images/marcador2.gif) no-repeat left;font-size:12px;}

#servicosConsumidor #content .content .coluneC{margin:22px 0 50px 0;}
#servicosConsumidor #content .content .coluneC > div{float:left;width:302px;font-size:11px;}
#servicosConsumidor #content .content .coluneC .comunicado{padding-left:92px;background:url(../images/ico_comunicado.gif) no-repeat 18px 0;}
#servicosConsumidor #content .content .coluneC .educacaoFinanceira{padding-left:92px;background:url(../images/ico_educacao_financeira.gif) no-repeat 18px 0;}
#servicosConsumidor #content .content .coluneC h3{font-size:14px;margin-bottom:16px;}
#servicosConsumidor #content .content .coluneC > div p{line-height:16px;;}
#servicosConsumidor #content .content .coluneC > div ul li{margin-bottom:5px;}


/*Stepbanner*/
#container .stepbanner{position:relative;}
#container .stepbanner .itemnumber{position:absolute;top:20px;right:20px;z-index:2;}
#container .stepbanner .itemnumber li{float:left;width:37px;height:37px;background:#0959a1;color:#fff;text-align:center;line-height:39px;font-weight:bold;font-size:20px;margin-right:1px;cursor:pointer;-moz-box-shadow:#000 2px 2px 3px;-webkit-box-shadow:#000 2px 2px 3px;}
#container .stepbanner .itemnumber li.current{background:#cbcb2a;color:#0959a1;}
